@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500");

@import "./variables";

// reset styles

* {
  color: inherit;
  margin: 0;
}

body {
  font-family: "Quicksand";
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

h1 {
  color: $primary;
  margin-bottom: $base-margin;
}

a {
  color: $secondary;
}

button {
  color: wheat;
  border: 0;
  background: $primary;
  border-radius: $base-border-radius;
  padding: $base-padding;
}

.error {
  color: $error;
  border-color: $error;
  border-style: solid;
  padding: $base-padding;
  margin: $base-margin;
  border-radius: $base-border-radius;
  border-width: $base-border-thickness;
}

.notification {
  color: $info;
  border-color: $secondary;
  border-style: solid;
  padding: $base-padding;
  margin: $base-margin;
  border-radius: $base-border-radius;
  border-width: $base-border-thickness;
}
